*{
  margin: 0;
}

.first-section, .second-section, {
  margin-top: 20px;
}

.title{
  background-image: url(/img/pattern.png);
  background-repeat: repeat;
  background-size: 300px;
  background-color: rgb(43, 167, 250);
  height: 70px;
}


.autore, .data{
  color: rgb(78, 72, 72);
  font-size: smaller;
}

#booleaner{
  color: rgb(61, 192, 231);
}

.gallery{
  margin-top: 20px;
}

.credits{
  font-size: x-small;
}

.highlight{
  background-color: yellow;
}

p{
  margin-top: 20px;
}

ul{
  margin-top: 30px;
}