*{
  margin: 0;
}

.first-section, .second-section, .third-section, .fourth-section {
  margin-top: 25px;
}

#logo{
  width: 10%;
}

.title{
  background-image: url(/img/pattern.png);
  background-size: 300px;
  background-color: rgb(43, 167, 250);
  height: 70px;
}


.autore, .data{
  color: rgb(78, 72, 72);
  font-size: smaller;
}

#booleaner{
  color: rgb(61, 192, 231);
}

.gallery{
  margin-top: 20px;
}

.credits{
  font-size: x-small;
}

.highlight{
  background-color: yellow;
}

.tr-color{
  background-color: rgba(104, 224, 224, 0.712);
}

.box{
  height: 200px;
  width: 250px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#box1{
  background-image: url(/img/monitor.jpg);
  
}

#box2{
  background-image: url(/img/graph.jpg);
}

.align{
  text-align:left;
}

th{
  width: 500px;
}

p{
  margin-top: 20px;
}

ul{
  margin-top: 20px;
}

table{
  margin-top: 20px;
}

thead{
  background-color: rgb(98, 179, 245);
  color: white;
}

h4{
  color: rgb(107, 104, 104);
}

